<h1>
	{{title}}
</h1>
<hr>
<button kendoButton (click)="onButtonClick()" [primary]="true">My Kendo UI Button</button>
<hr>
<kendo-grid 
  [data]="gridData"
  [height]="250">
	<kendo-grid-column field="code" title="Code"></kendo-grid-column>
	<kendo-grid-column field="name" title="Name"></kendo-grid-column>
</kendo-grid>
<hr>
 <kendo-chart>
          <kendo-chart-series>
            <kendo-chart-series-item
                type="column" [data]="seriesData"
                field="name" categoryField="code">
            </kendo-chart-series-item>
          </kendo-chart-series>
        </kendo-chart>